# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
# -----------------------
# Python cache / virtual env
# -----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.env
*.venv
stockpricevenv/
*.egg-info/
dist/
build/
.eggs/
.env

# -----------------------
# OS / editor files
# -----------------------
*.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
*.code-workspace

# -----------------------
# Jupyter / notebooks
# -----------------------
.ipynb_checkpoints/
/tmp.ipynb

# -----------------------
# Logs
# -----------------------
*.log
logs/
log/
*.out

# -----------------------
# Project specific datasets / outputs
# -----------------------
/.stock
config.py
/database/
/TrainNewsDataset/
/train_graph_dataset/
/final_dataset/
/result_train_data/
/graphsParsing/debug/data/
data
Data
runs
Tree-Quality-3-7
yolo_train
tree_types.json
classification_result.json
Hack-processed-data
dataset_to_mark

# -----------------------
# ML / Deep Learning
# -----------------------
*.pt
*.pth
*.h5
*.ckpt
*.npz
*.npy
*.csv
*.db
*.tsv
*.parquet
*.pkl
*.joblib
*.sav
*.yaml

# -----------------------
# Temporary / cache / backup
# -----------------------
*.tmp
*.bak
*.swp
*.old
*.orig
*.rej
*.~*
*~
.cache/
.cache/
tmp/
temp/
*.jpg
*.png
